<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.properties"/>
    <!-- Appenders -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%-5level] [%t] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} [%F:%L] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.path}/Swarm.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback.path}/Swarm.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-5level] [%t] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} [%F:%L] - %msg%n</pattern>
        </encoder>
    </appender>
    <!--Loggers-->
    <root level="INFO">
        <appender-ref ref="MAIN" />
        <appender-ref ref="CONSOLE" />
    </root>
    <logger name="gr.blxbrgld" level="DEBUG" />
</configuration>